#slider {
    width: 600px;
    top: 20%;  
    left: 35%; 
    position: absolute;
    overflow: hidden;
}

#slider .slide{
    position: absolute;
    top: 45%;
}

#slider .slides {
    display: flex;
    animation: pociag-w-lewo 20s infinite;
    animation-timing-function: ease-in-out;
}

#slider .right{
    right: 0;
}
.arrow, .bi-circle{
    cursor: pointer;
}

.container{
    z-index: 1;
    top: 20%;  
    left: 35%; 
    position: absolute;
}

@keyframes pociag-w-lewo {
    0% {
        transform: translateX(0);
    }
    5% {
        transform: translateX(0);
    }
    20%{
        transform: translateX(-600px);
    }
    25%{
        transform: translateX(-600px);
    }
    40%{
        transform: translateX(-1200px);
    }
    45%{
        transform: translateX(-1200px);
    }
    60%{
        transform: translateX(-1800px);
    }
    65%{
        transform: translateX(-1800px);
    }
    80%{
        transform: translateX(-2400px);
    }
    85%{
        transform: translateX(-2400px);
    }
    100% {
        transform: translateX(-3000px);
    }
}